@model List<TaskModel>
@{
    ViewData["Hellotext"] = "Hello text";
}


<table class="table">
    <thead>
        <tr>
            <td scope="col">Id</td><td scope="col">Name</dt><td scope="col">Desc</td>
        </tr>
    </thead>

    <tbody>
        @{
            if (Model == null)
            {
                <p>NULL MODEL</p>
            } 
            else
            {
                foreach (TaskModel? task in Model)
                {
                    <tr>
                        <td style="display: flex">
                            @using(Html.BeginForm("DeleteTask", "Home", FormMethod.Post))
                            {
                                @* @Html.TextBox("Age","", new { type="number" }) *@
                                    @Html.Hidden("taskIdRaw", task.Id)
                                    <input type="submit" value="X" />
                            }
                            @task.Id
                        </td>
                        <td>@task.Name</td>
                        <td>@task.Description</td>
                    </tr>
                }
            }
        }
        @using(Html.BeginForm("AddTask", "Home", FormMethod.Post))
        {
            <p>
                <label>Name:</label><br />
                @Html.TextBox("name")
            </p>
            <p>
                <label>Desctiption:</label><br />
                @Html.TextBox("description")
            </p>
            <p>
                <input type="submit" value="Send" />
            </p>
        }
    </tbody>

</table>